html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d6d6;
    overflow-x: hidden;
    overflow-y: visible;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #d40028;
    text-decoration: none;
}

a:hover {
    color: #ffa800;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    padding-top: 10px;
}

.navbar-fixed-left {
    width: 60px;
    background-color: #fff;
    position: fixed;
    min-height: 100%;
    border: none;
    -webkit-transition: width 0.65s; /* Safari */
    transition: width 2s 0.65s;
    z-index: 9;
}

.navbar-fixed-full {
    width: 200px;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;

}

.navbar-fixed-top {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    max-height: 60px;
    border: none;
}

.navbar-fixed-top li {
    display: inline-block;
}

.navbar-content {
    margin-top: 20px;
}

.logo {
    height: 60px;
    margin: 0 auto;
}

.logo-small {
    height: 40px;
    margin-top: 10px;
    display: inline-block;
    float: left;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
}

.fa-side-menu {
    font-size: 22px;
    color: #ffa800;
}

.social-list {
    margin: 0 auto;
}

.navbar-content > ul {
    margin: 0 auto;
    text-align: center;
    width: 25px;
    padding-top: 40px;
}


.social-list-full {
    display: inline-block;
}

.social-list-top {
    margin-top: 10px;
    display: block;
    float: left;
    width: 50%;
}

.social-list-top li {
    margin-left: 10%;
}

.social-list-hidden {
    display: none;
    transition: display 0.2s;
}

.social-list-open {
    display: inline;
    margin: 0 auto;
    padding-top: 20px;
}

.social-list-open > li {
    display: inline-block;
    margin-left: 22px;
    margin-top: 40px;
}

.social-close {
    display: none;
}


.menu {
    margin-top: 60px;  
}

.menu .fa {
    font-size: 30px;
    cursor: pointer;
}

.menu-left-hidden {
    display: none;
    width: 200px;
    text-transform: uppercase;
    transition: display 0.1s ease;
}

.menu-list {
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    
}

.menu-left-hidden > ul {
    margin: 0 auto;
    padding-top: 40px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: normal;
    
}

li a {
    color: #373737;
}

li a:hover {
    color: #ffa800;
    text-decoration: none;
}

.menu-show {
    display: block;
    
}

.menu-portfolio-hidden {
    display: none;
}

.img-sidebar {
    margin: 0 auto;
    padding-top: 30px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-top {
    margin-left: 10%;
}

.jumbotron {
    height: 420px;
    background-image: url(../img/header.jpg);
    background-color: #d6d6d6;
    margin-left: 60px;
     box-shadow: 0 5px 5px #888888;
}

.show {
    display: inline-block;
}

.hide {
    display: hidden;
}

.main-content {
    background-color: #d6d6d6;
    margin-left: 200px;
}

.header-title {
    position: relative;
}

#img-trans img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#img-trans img.top {
  opacity:0;
}

.header-portfolio {
    margin-top: 8%;
}

.jumbotron h1 {
    font-size: 30px;
}

.title-portfolio {
    text-align: left;
    font-family: 'Slabo 27px', serif;
}

.fancy-text {
    font-family: 'Raleway', sans-serif;
    color: #ffa800;
    margin-top: 30px;
}

.fancy-text-2 {
    font-family: 'Raleway', sans-serif;
    color: #ffa800;
    margin-top: 30px;
}

@keyframes imgFadeInOut {
    0% {
    opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
}

#img-trans img.top {
    animation-name: imgFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}

.header-title-small {
    display: none;
}

.header-small-name {
    color: #000;
}


.under-construction {
    font-size: 40px;
}

.footer-info {
    width: 100%;
   text-align: center;
    font-size: 12px;
    border-top: 1px solid #c4c4c4;
    padding-top: 12px;
}

.content-box {
    padding: 10px;
}

.content-box p {
    font-size: 18px;
}

.content-box h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content-box h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.highlight {
    color: #ffa800;
}

@media (min-width: 768px) {
    .navbar-fixed-top {
        display: none;
    }
}

@media (max-width: 767px) {
    .jumbotron {
        background-image: url(../img/small-header.jpg);
        height: 320px;
        margin-left: 0;
    }
    
    .navbar-fixed-left {
        display: none;
    }
    
     .header-title {
        display: none;
    }
    
    .header-title-small {
        display: block;
    }
     
}

@media (max-width: 390px) {
    .jumbotron h1 {
        font-size: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .test {
        opacity: 0;
    }
}

